---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ProofStrip from "../components/ProofStrip.astro";
import ForYouIf from "../components/ForYouIf.astro";
import HowIWork from "../components/HowIWork.astro";
import Cases from "../components/Cases.astro";
import Testimonials from "../components/Testimonials.astro";
import SampleReport from "../components/SampleReport.astro";
import Offer from "../components/Offer.astro";
import Packages from "../components/Packages.astro";
import About from "../components/About.astro";
import Faq from "../components/Faq.astro";
import FinalCta from "../components/FinalCta.astro";
import Footer from "../components/Footer.astro";
import StickyMobileCta from "../components/StickyMobileCta.astro";
---

<BaseLayout>
  <Header />
  <main id="main">
    <Hero />
    <ProofStrip />
    <ForYouIf />
    <HowIWork />
    <Cases />
    <Testimonials />
    <SampleReport />
    <Offer />
    <Packages />
    <About />
    <Faq />
    <FinalCta />
  </main>
  <Footer />
  <StickyMobileCta />
</BaseLayout>
